@media (min-width:900px) {
    .section2-col,
    .footer,
    .footer-column,
    .section1 {
        flex-direction: row;
    }
    /* section1 */
    .section1 {
        align-items: stretch;
    }
    .section1 img{
        width: 45%;
    
    }
    .section1-text {
        width: 45%;
        margin-top: 0;
    }
    .order1{
        order: 2;
    }
    .order2{
        order: 1;
    }
    /* section2 */
    .section2-col {
        margin: 40px 0;
    }
    .section2-column {
        width: 32%;
        margin-top: 0;
    }
    /* ==========
        footer
    =============== */
    .footer-column{
        width: 60%;
    }
    .footer-box{
        width:40%;
        margin-left: 50px;

    }
}
@media(max-width:1150px) {
    .footer-column {
        flex-direction: column;
        width: 50%;
    }
    .footer-box {
        width: 100%;
        margin: 1em 0;
    }
}  