/* ========
    defaults
===============*/
body {
    background-color: #21212E;
}
.container {
    max-width: 1450px;
    width: 95%;
    margin: 0 auto;
}
h1 {
    color: white;
    font-size: 35px;
    margin:255px 0 21px 0;
}
h2 {
    color: white;
    font: 24px;
}


/* ====header====== */
.header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.header-aclass{
    margin-left: 55px;
    color: #66667E;
    vertical-align: middle;
}
.header-teams-a {
    color: white;
}
.logo {

    color: white;
    width: 10%;
}
.header-text {
    width: 40%;
    line-height: 1.2;
    vertical-align: middle;
}
.header-text p {
    font-size: 18px;
    color: #66667E;
}
.header-icon {
    width: 10%;
    position: absolute;
    top: 151px;
    left: 50%;
}
.header-block {
    margin: 50px 0;
}
.header-image {
    width: 55%;
}
/* section1 */
.section1-icon {
    width: 15%;
    
}
.section1 {
    justify-content: space-between;
    margin:10px 0;
    
}
.section1 img{
    width: 45%;
    height: 50%;

}
.section1-text {
    padding: 30px;
    width: 48%;
    background-color: #20202C;
    box-shadow: 0 0 10px rgb(0, 0,0,.5);
}